html body{
    margin: 0 auto;
    padding: 0 auto;
    font-family: sans-serif;
    background-color: #0F0F0F;
    position: relative;
}


/* CSS for header */
.active{
    color: white;
}

.header{
    background-color: #0F0F0F;
    width: 100%;
    height: 4rem;
    position: fixed;
    align-items: center;
    display: flex;
}

.header--logo{
    flex: 1;
    margin-left: 5%;
    color: white;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
}

.header--menu{
    flex: 4;
    margin-right: 20px;
}

.nav_menu{
    display: flex;
    list-style: none;
    margin-left: 400px;
}

.menu_items{
    margin-right: 20px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    -webkit-box-align: center;
    line-height: 1.5rem;
    display: inline-flex;
}

.menu_items-icon{
    color: #828282;
    align-items: center;
}

a{
    text-decoration: none;
    color: #828282;
}

li.menu_items>a:hover{
    color: white;
}

.header--preimere{
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
}

.btnPremiere{
    width: 80%;
    height: 55%;
    margin:auto;
    display: flex;
    border-radius: 5px;
    background-color: #009De0;
}

.txt_premiere{
    text-align: center;
    color: white;
    margin: auto;
    font-weight: 650;
}

.body1{
    width: 100%;
    height: 100px;
}

/* css for license model */
.bigbox{
    display: flex;
    height: 680px;
    width: 100%;
}

.box{
    flex: 1;
    width:528px;
    height:296px;
    padding : 200px 90px;
    display: flex;
    
}

.box_item2{
    flex: 1;
     height: 100px;
     width: 100px;
    
    
}
.box1{
    color:white;
    font-size:56px;
    line-height: 64px;
    font-weight: 600;
    letter-spacing: -1.12px;

}

.box2{
    color:#828282;
    font-size: 21px;
    font-weight:500 ;
    line-height: 24px;
}
.button{
    height: 50px;
    width: 150px;
    font-size: 20px;
    color: aliceblue;
    background-color: #009De0;
    padding: 0px;
    border: 0px;
}
.button:hover{
    color: #0F0F0F;
}
.button1:hover{
   background-color: #333333;
}
.button1{
    border: 1px solid white ;
    height: 50px;
    width: auto;
    white-space: nowrap;
    font-size: 20px;
    color: aliceblue;
    background-color: #0F0F0F;

}
.p2{
    height: 472px;
    width: 1312px;
  

}
.text_main{
    width: 80%;
    height: 410px;
    padding-top: 180px;
    }
.text_header{
    color: aliceblue;
    margin-left: 300px;
}
.text1{
    font-size: 16px;
    text-align: center;
    height: 24px;
    width: 920px;
    word-spacing: 0px;
    
}
.text2{
    font-size: 40px;
    height: 290px;
    width: 920px;
    line-height: 48px;
    text-align: center;
}
.ask{
    display: flex;
    padding-top: 400px;

}

.ask_item1{
    flex: 1;
    height: 200px;
    width: 600px;
    padding-left: 60px;
}
.ask1{
    height: 48px;
    width: 600pxx;
    color:#FFFFFF;
    font-size: 40px;
    word-spacing: 0px;
}
.ask2{
    height: 100px;
    width: 600px;
    color: #767676;
    line-height: 24px;
    font-weight: 500;
    word-spacing: 0px;
}
.ask_item2{
    flex: 1;
    line-height: 18.4px;
}

.p3{
    height: 660px;
    width: 1450px;
}
.title_list{
    height: 660px;
    width: 1440px;
    border: 1px solid #FFFFFF;
    padding: 0px 64px 0 64px;
    margin: 0 40px 0 40px;
}
.main_title{
    font-size: 16px;
    font-weight: 300;
    line-height: 18.4px;
    height: 656px;
    width: 1315px;
    min-height: auto;
    min-width: auto;
    display: block;

}
h6{
    color: #FFFFFF;
    display: block;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -0.96px;
    line-height: 56px;
    word-spacing: 0px;
    height: 56px;
    width: 1312px;
    margin: 0 0 40px 0;

}
.list{
    height: 560px;
    width: 1315px;
    display: grid;
    font-size: 16px;
    font-weight: 300;
    line-height: 18.4px;
    word-spacing: 0px;
}
   
   
.list1{
    height: 560px;
    width: 355px;
    padding: 24px 32px 16px 32px;
}
h2{
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
    white-space: pre-line;
    word-spacing: 0px;
    height: 40px;
    width: 352px;
    padding: 24px 32px 16px 32px;
    min-height: auto;
    min-width: auto;
    display: flex;
}

.font{
    height: 200px;
    width: 355px;
    font-size: 16px;
    font-weight: 500;
    color: #767676;
    word-spacing: 0px;
    line-height: 24px;
    
}
.font1{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    word-spacing: 0px;
    color: #FFFFFF;
    text-align: left;
    padding: 0px;
}




























































.list2{
    height: 560px;
    width: 355px;
    border: 1px solid #16d15d;
    background-color: #333333;
    margin: 0 35px 0 35px;
    padding: 24px 32px 16px 32px;
}
.list3{
    height: 560px;
    width: 355px;
    border: 1px solid #16d15d;
    background-color: #333333;
    padding: 24px 32px 16px 32px;
}
