html body{
    height: auto;
    margin: 0 auto;
    padding: 0 auto;
    font-family: sans-serif;
    flex-direction: column;
    display: flex;
    background-color: #0F0F0F;
}


/* CSS for header */
.active{
    color: white;
}

.header{
    background-color: #0F0F0F;
    width: 100%;
    height: 4rem;
    position: fixed;
    align-items: center;
    display: flex;
}

.header--logo{
    flex: 1;
    margin-left: 5%;
    color: white;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
}

.header--menu{
    flex: 4;
    margin-right: 20px;
}

.nav_menu{
    display: flex;
    list-style: none;
    margin-left: 400px;
}

.menu_items{
    margin-right: 20px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 600;
    -webkit-box-align: center;
    line-height: 1.5rem;
    display: inline-flex;
    color: #828282;
}

.menu_items_color{
    color: #828282;
}

.menu_items-icon{
    color: #828282;
    align-items: center;
}

li.menu_items>a{
    text-decoration: none;

}

li.menu_items>a:hover{
    color: white;
}

.header--preimere{
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.btnPremiere{
    width: 135px;
    height: 40px;
    margin:auto;
    display: flex;
    color: white;
    background-color: #009DE0;
}

.btnPremiere:hover{
    color: black;
}

.txt_premiere{
    text-align: center;
    margin: auto;
    font-weight: 650;
}

/*css for body page*/
.tabList{
    width: 100%;
    height: 70px;
    margin-top: 63px;
    background-color: #0F0F0F;
}

.list_menu{
    display: flex;
    list-style: none;
    margin-left: 2%;
}

.list_items{
    margin-right: 20px;
    font-weight: 500;
    font-size: 20px;
    color: #828282;
}

li.list_items>a{
    text-decoration: none;
}

.list_items_color{
    color: #828282;
}

li.list_items>a:hover{
    color: white;
}

/* css for album music*/
.album_music{
    width: 90%;
    height: 550px;
    margin-left: 5%;
    border-top: 1px solid #828282;
    background-color: #0F0F0F;
}

div.album_music>p{
    color: white;
    font-weight: 500;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.grid_album{
    width: 100%;
    height: 100%;
    display: grid;
    box-sizing: border-box;
    grid-template-rows: repeat(2,220px);
    grid-template-columns: repeat(6,15%);
    grid-gap: 30px 2%;
}

.grid_items{
    display: flex;
    flex-direction: column;
    background-color: #0F0F0F;
}

div.grid_items>img:hover{
    cursor: pointer;
    background-color: black;
    opacity: 0.7;
}

div.grid_items>img{
    width: 185.5px;
    height: 180px;
    object-fit: cover;
}

div.grid_items>p{
    font-weight: 600;
    font-size: 17px;
    white-space: nowrap;
    color: white;
}

@media only screen and (max-width: 820px){
    .album_music{
        height: 1600px;
    }
    .grid_album{
        grid-template-columns: repeat(3,180px);
        grid-template-rows: repeat(4,220px);
    }
    .list_menu{
        margin-left: -3px;
    }
}
@media only screen and (max-width: 500px){
    .grid_album{
        grid-template-columns: repeat(2,180px);
        grid-template-rows: repeat(6,220px);
        grid-gap: 30px 55px;
    }
    .list_menu{
        margin-left: -15px;
    }
}

/* css for layout list music staff picks */
.list_staff_picks{
    width: 90%;
    height: 920px;
    margin-left: 5%;
    background-color: #0F0F0F;
    display: flex;
    flex-direction: column;
}

.list_logo{
    margin-top: 50px;
    display: flex;
}

div.list_logo>img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.p1{
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin-left: 15px;
}

.p2{
    margin-top: -15px;
    font-weight: 500;
    font-size: 17px;
    color: #828282;
    margin-left: 15px;
}

.list_music{
    width: 100%;
    height: 710px;
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(8,80px);
    grid-row-gap: 10px;
}

.list_music_items{
    background-color: #0F0F0F;
    align-items: center;
    justify-content: center;
    display: flex;
}

.music_items_btnPlay{
    flex: 0.5;
    display: flex;
    align-items: center;
}

div.music_items_btnPlay>i{
    cursor: pointer;
    color: #575757;
}

div.music_items_btnPlay>i:hover{
    opacity: 0.6;
    color: white;
    transition: 1s;
}

.music_items_nameOfSong{
    flex: 2;
    box-sizing: border-box;
}

.p1--head{
    font-weight: 600;
    font-size: 17px;
}

.p2--under{
    font-weight: 600;
    font-size: 17px;
}

.music_items_singer{
    flex: 2;
    justify-content: flex-start;
}

div.music_items_singer>p{
    cursor: pointer;
    margin-top: 10px;
}

.music_items_typeOfSong{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

div.music_items_typeOfSong>p{
    margin-top: 10px;
    cursor: pointer;
}

.music_items_lyricLogo{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

div.music_items_lyricLogo>i{
    color: #828282;
    margin-top: -8px;
}

.music_items_time{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.music_items_time>p{
    margin-top: 6px;
}

.music_items_utilities{
    flex: 2;
    background-color: #0F0F0F;
}

.utilities{
    display: flex;
    color: white;
    list-style: none;
}

.utilities_items{
    cursor: pointer;
    margin-top: -10px;
    margin-right: 25px;
}

.btn_viewLast{
    width: 100%;
    height: 50px;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0F0F0F;
}

.btn_view{
    width: auto;
    height: auto;
    background-color: #0F0F0F;
    font-weight: 600;
    color: white;
    font-size: 17px;
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
}
.btn_view:hover{
    color: white;
    background-color: black;
    opacity: 0.8;
}

/* css for pricing */
.pricing{
    width: 90%;
    height: 550px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    border-top: 1px solid #828282;
    background-color: #0F0F0F;
}
div.pricing>p{
    color: white;
    font-weight: 500;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.grid_price{
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(3,32%);
    grid-template-rows: repeat(1,460px);
    grid-column-gap: 2%;
}

.grid_items_pricing{
    background-color: #333333;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.pricing_title{
    display: flex;
}

.pricing--p{
    font-weight: 500;
    font-size: 20px;
    color: white;
}

.title_money{
    font-size: 48px;
    font-weight: 600;
    color: white;
}

.title_month{
    font-weight: 600;
    font-size: 16px;
    color: white;
    margin-top: 30px;
}

.pricing_benefit{
    width: 100%;
    height: 45%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    background-color: #333333;
}
div.pricing_benefit>p{
    color: white;
    margin-top: 0;
    font-weight: 600;
    font-size: 16px;
}

div.pricing_benefit>div>span>i{
    color: white;
}

div.pricing_benefit>div{
    padding: 5px 0;
    display: flex;
}

.benefit_items{
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.pricing_note{
    width: 100%;
    height: 40px;
    text-align: start;
    background-color: #333333;
}

div.pricing_note>p{
    margin-top: 0px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: #828282;
}

.pricing_note2{
    width: 100%;
    height: 10%;
    display: flex;
}

.btn_learnMore{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
div.btn_learnMore>div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    color: #009DE0;
}

.style_btn{
    width: auto;
    height: 100%;
}

.style_btn:hover{
    border-bottom: 2px solid #009DE0 ;
}

div.btn_learnMore>div>p{
    font-weight: 600;
    font-size: 17px;
}

/* css for lay out end web */
.web_end{
    width: 90%;
    height: 430px;
    margin-left: 5%;
    display: flex;
}

.layout1{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.social_network{
    flex: 4;
    display: flex;
}

.social_network1{
    flex: 1;
    padding-top: 120px;
}

div.social_network1>li{
    text-decoration: none;
    list-style: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: white;
}

div.social_network1>li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.social_network2{
    background-color: black;
    flex: 1;
}

.social_network3{
    background-color: white;
    flex: 1;
}

.credit{
    flex: 1;
    display: flex;
}

.credit1{
    flex: 1;
}

.credit1>p{
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #828282;
    margin-top: 0;
}

.credit2{
    flex: 1;
    display: flex;
}

div.credit2>li{
    list-style: none;
    margin-right: 25px;
    margin-left: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #828282;
}

.credit2>li:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #828282;
}

.layout2{
    flex: 1;
}